<div class="fix">
    <p class="title">Appointment Details</p>
    <div class="row">
        <div class="col-md-6">
            <p>John Wick</p>
        </div>
        <div class="col-md-6">
            <p>M-9848848222</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p>Walk-in-Appointment</p>
        </div>
        <div class="col-md-4">
            <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p>Schedule</p>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-expanded="false">
                            Date
                        </button>
                        <div class="dropdown-menu">
                            ...
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="btn-group">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-expanded="false">
                            Time
                        </button>
                        <div class="dropdown-menu">
                            ...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <select class="form-control" style="font-size: xx-small; width: 100%;">
                <option>Previous Appointment(if any)</option>
            </select>
        </div>
    </div>
</div>