<div class="card-group">
    <div class="card-deck" style="width: 100%;">
        <div class="card">
            <div class="row no-gutters v1">
                <div class="col-md-8">
                    <p class="card-text" style="background-color: rgb(197, 197, 197); font-size: xx-small;">BP
                    </p>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
        <div class="card">
            <div class="row no-gutters v1">
                <div class="col-md-8">
                    <p class="card-text" style="background-color: rgb(197, 197, 197); font-size: xx-small;">Height
                    </p>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
        <div class="card">
            <div class="row no-gutters v1">
                <div class="col-md-8">
                    <p class="card-text" style="background-color: rgb(197, 197, 197); font-size: xx-small;">SPo2
                    </p>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
        <div class="card">
            <div class="row no-gutters v1">
                <div class="col-md-8">
                    <p class="card-text" style="background-color: rgb(197, 197, 197); font-size: xx-small;">Weight
                    </p>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
        <div class="card">
            <div class="row no-gutters v1">
                <div class="col-md-8">
                    <p class="card-text" style="background-color: rgb(197, 197, 197); font-size: xx-small;">Temp
                    </p>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
        <div class="card">
            <div class="row no-gutters v1">
                <div class="col-md-8">
                    <p class="card-text" style="background-color: rgb(197, 197, 197); font-size: xx-small;">PR
                    </p>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
    </div>
</div>