<div class="container">
  <div class="row">
    <div class="col-md-1" id="sidebar">
        <nav>

           
            <ul class="list-unstyled components mb-5"> <br>
                <li >
                  <p style="text-align: center;"> <i class="fas fa-th-large"></i></p>
                </li><br/>
                <li  >
                  <p style="text-align: center;"> <i class="fas fa-user-plus"></i></p>
                </li><br/>
                <li  >
                 <p style="text-align: center;"> <i class="fas fa-user-friends"></i></p>
                </li><br/>
                <li  >
                  <p style="text-align: center;"> <i class="fa">&#xf2c1;</i></p>
                </li><br/>
                <li  >
                  <p style="text-align: center;"><i class="fas fa-calendar-day"></i></p>
                </li><br/>
                <li  >
                  <p style="text-align: center;"><i class="fas fa-user-friends"></i></p>
                </li><br/>
                <li  >
                  <p style="text-align: center;"> <i class="fas fa-bars"></i></p>
                </li><br/>
                <li  >
                  <p style="text-align: center;"> <i class="fas fa-th"></i></p>
                </li><br/>
                <li  >
                  <p style="text-align: center;"> <i class="fas fa-copy"></i></p>
                </li><br/>

                <li  >
                  <p style="text-align: center;"> <i class="fa">&#xf0fe;</i></p>
                </li><br/>
            </ul>
        </nav>

    </div>

      <!-- Page Content  -->
      <div id="content" class="col-md-11">
          <div>
              
              <app-appointment></app-appointment>
          </div>
      </div>

  </div>
</div>

<!-- <router-outlet></router-outlet> -->