<div class="search" style="padding-top: 20px; padding-bottom: 20px;">
    <form class="form-inline">
        <div class=" col-md-9">
            <input class="form-control" style="width: 90%;" type="search" placeholder="Search by Name"
                aria-label="Search">
        </div>
        <div class="col-md-3">
            <button class="btn" style="width: 90px;" type="submit">Search</button>
        </div>
    </form>
</div>

<div class="col-md-12">

    <div class="tab">
        <app-table></app-table>
    </div>
    <div class="info">
        <app-info></app-info>
    </div>

</div>