<div class="card-group">
    <div class="card-deck" style="width: 100%;">
        <div class="card">
            <div class="form-group">
                <textarea class="form-control" placeholder="Reason" style="font-size: small;" rows="4"></textarea>
            </div>
            <div>
                <button type="button" class="btn btn-info" style="float: right;">Cancel</button>
            </div>
        </div>
        <div class="card" style="clear: both;">
            <div class="form-group">
                <textarea class="form-control" placeholder="Note for Doctor" style="font-size: small;"
                    rows="4"></textarea>
            </div>
            <div>
                <button type="button" class="btn btn-info">book</button>
            </div>
        </div>

    </div>
</div>